<%= link_to 'Create new user', new_user_path %>
<br>
<br>
<h1>Total Users: <%= @users.count %></h1>
<br>
<% unless @users.empty? %>
  <% @users.each do |u| %>
    <div>Fullname: <%= u.fullname %></div>
    <div>Username: <%= u.username %></div>
    <divAdress: ><%= u.address %></div>
    <div>Age: <%= u.age %></div>
    <div>Email: <%= u.email %></div>
    <br>
    <%= link_to 'Show', user_path(u.id) %>
    <div>----------------------------------------</div>
    <br>
<% end %>
<% else %>
<% end %>

